@use './variables' as vars;

.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 100;

  @media #{vars.$phone-tablet} {
    padding-block: 0px;
  }

  .inchworm-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }

  .theme-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border-radius: 100%;
    transition: background-color 0.2s ease;
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
    
}