@use 'styles/variables' as vars;

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 100%;
  height: 100%;
  min-height: 100vh;
  
  overflow: hidden;
  padding: 40px 70px 20px 70px;
  
  // Default is light mode
  background-color: vars.$white;
  color: vars.$black;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.light {
  background-color: vars.$white;
  color: vars.$gray-600;
}

.dark {
  background-color: vars.$black;
  color: vars.$white;
}